{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('index') }}" method="POST">
  <div class="form-group">
    <label for="exampleInputSender">Sender</label>
    <input type="text" class="form-control" id="exampleInputSender" aria-describedby="emailHelp" placeholder="Zeid"
           name="sender" value="{{ request.form.get('sender', '') }}">
  </div>

  <div class="form-group">
    <label for="exampleInputSum">Sum $</label>
    <input type="text" class="form-control" id="exampleInputSum" placeholder="100.00"
           name="sum" value="{{ request.form.get('sum', '') }}">
  </div>

  <div class="form-group">
    <label for="exampleInputRecipient">Recipient</label>
    <input type="text" class="form-control" id="exampleInputRecipient" placeholder="Amr"
           name="recipient" value="{{ request.form.get('recipient', '') }}">
  </div>

  <button type="submit" class="btn btn-primary">Send data</button>
</form>

{% endblock %}

{% block checking %}
    {% for res in results %}
        <div class="result">

            Block {{ res['block'] }} is {{ res['result'] }}

        </div>

    {% endfor %}

{% endblock %}